STRING_SESSION = "BQBFzXsOurJqD2gAZRIdayCupYl93Cwf5A7L2mjDYbQCmeKRWfBl1shi5WE7qpJ3IPNCVijxrt-gbkC-KrOzoUhlTQXLf7RRXquGth_8w2YfDtvt--fEkTcWGif4UhJgvMqbVeY6FCpXjaTBlw2iSN64PnU9q74olagGYgAe01Nwi0ExO_bGvwDIWJbc1rzATAWtaCDUsk85IAc7uMVGCv8OxCKtCs7fZ6WTtdEELmNZ8TyS_uPAJeVr4JePEEj-ke-1lVu8MLtDqnGN7IKeFp1yQslBwu4eh6huxAIZi_cOvpwSE20OutYUmwoHJYIelVK0TMiPvtJOr5DwPTJrH8K-AAAAAVNgfJAA" # A pyrogram String Session

BOT_TOKEN = "5542004466:AAFN-veVWIy2ogi8iOejSJ9O5golBAcmI4s" # Get a token from @botFather

API_ID = "10248430" # Get this value from https://my.telegram.org

API_HASH = "42396a6ff14a569b9d59931643897d0d" #  Get this value from https://my.telegram.org

SUDO_USERS = "5470956337" # For multiple Users Use Space

DURATION_LIMIT = "" # In Mins (EX :- 60)

ASSISTANT_NAME = "lina_musics" # Fill there Your Assistant Username without @

BOT_USERNAME = "lina_music_bot" # fill there Your Bot Username Without @

UPDATES_CHANNEL = "https://t.me/THANOS_PRO" # Support Channel Link if you have any, Leave blank if no support. Your Username must start without @

GROUP_SUPPORT = "https://t.me/thanosprosss" #Support Group Link if you have any, Leave blank if no support. Your Username must start without @
